.profile__head {
    display: flex;
    padding-left: 30px;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .profile__head {
        padding-left: 19px;
        padding-top: 24px;
    }
}