.footer__name {
    color: #545454;
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
}

@media screen and (max-width: 900px) {
    .footer__name {
        line-height: 17px;
        font-size: 14px;
    }
}