.popup__form {
    width: 358px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
}

@media screen and (max-width: 900px) {
    .popup__form {
        width: 238px;
    }
}