.popup__wrapper {
    color: #000;
    width: 430px;
    margin: 195px auto;
    position: relative;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .popup__wrapper {
        margin: 123px auto;
        min-height: 322px;
        max-width: 282px;
    }
}