.profile__head {
    display: flex;
    padding-left: 30px;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .profile__head {
        padding-left: 19px;
    }
}