.popup__button_submit {
    width: 358px;
    background-color: black;
    height: 50px;
    margin: 48px 0 37px 0;
    font-size: 18px;
    line-height: 22px;
    border-radius: 2px;
    text-align: center;
    font-weight: normal;
}

.popup__button_submit:hover {
    transition: 1.2s;
    opacity: 0.8;
}

@media screen and (max-width: 900px) {
    .popup__button_submit {
        margin: 45px 0 25px 0;
        font-size: 14px;
        height: 46px;
        line-height: 17px;
    }
}