.element__button-del {
    border: none;
    width: 18px;
    height: 19px;
    background: url(../../../images/Trash_1.svg) center bottom no-repeat, url(../../../images/Trash_2.svg) center top no-repeat;
    background-size: 15.44px, 18px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.element__button-del:hover {
    transition: 1s;
    opacity: 0.5;
}